
html {
    margin: 0px;
}

html::-webkit-scrollbar {
    width: 8px;
    /* height: 8px; */
    background-color: #aaa; /* or add it to the track */
}
html::-webkit-scrollbar-thumb {
    background: rgb(222, 222, 226);
}

body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #181768;
    height: 60px;
    margin: 0px;
}

header h1{
    margin-right: auto;
    margin-top: 0%;
    align-self: center;
    margin-left: auto;
    width: fit-content;
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: 'Almendra Display';
    font-size: 30px;
    color: white;
}

main {
    height: 29rem;
    background-image: url("assests/bgimg1.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
}

section.about-text {
    /* color: rebeccapurple; */
    width: 607px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 6rem;
    font-family: 'Alegreya SC', serif;
    font-size: 16px;
    color: black;

    
    /* justify-content: center; */
    /* display: block; */
}

footer { 
    background-color: #0b1047;
    height: 80px;
}

footer p {
    /* color: red; */
    width: fit-content;
    
    margin: 7px auto;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    /* border: 1px solid black; */
    color: #fff;
}

div.footer-text {
    padding-top: 15px;
}

section.nav-cards {
    width: 100%;
    margin: auto;
    justify-content: center;

}

section.card {
    display: inline-block;
    background-color: white;
    height: 162px;
    width: 25%;
    justify-content: center;
    /* padding-top: 10px; */
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 12px;

    text-transform: uppercase;
}

section#phy-card {
    background-image: url("assests/physicscard.jpg");
    /* background-color: #0b1047; */
    background-size: 100%;
    /* background-position-x: center; */
    background-position: 0%;
}

section#chem-card {
    background-image: url("assests/chemcard.jpeg");
    background-size: 100%;
    /* background-position-x: center; */
    background-position: 0%;
}

section#bio-card {
    background-image: url("assests/biocard.jpg");
    background-size: 100%;
    /* background-position-x: center; */
    background-position: 0%;
}

h3.topics {
    color: white;
    font-family: "Almendra SC";
    font-size: 20px;
    margin-left: 5px;
    margin-top: 40%;
}